<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">

        <h2>Title goes here</h2>

        <p class="chatter">
          The Carlton Complex fire moved so quickly, there was nothing residents could have done to prepare for its fury. Scrub the graph below to see the progress of the fire from July 15 to its final spread nine days later.

        <div class="map-container aspect-outer">
          <div class="aspect-inner">
            <leaflet-map lat="48.213" lng="-119.932" zoom="9">
              <tile-layer layer="esriTopographic"></tile-layer>
            </leaflet-map>
          </div>
        </div>

        <div class="canvas-container">
          <canvas class="graph"></canvas>
          <div class="callout"></div>
        </div>

      </main>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
